PORT=4000
KYC_PROVIDER=mock
# KYC_PROVIDER=prembly
PREMBLY_API_KEY=
PREMBLY_APP_ID=
PREMBLY_BASE_URL=https://api.prembly.com
# KYC_PROVIDER=smile
SMILE_API_KEY=
SMILE_PARTNER_ID=
SMILE_BASE_URL=https://api.smileidentity.com/v1
PAYSTACK_SECRET_KEY=
PAYMENT_CALLBACK_URL=
